<template>
     <div style="margin-left:5%; margin-right:5%;  height:auto;"> <!-- style="background-color:blue;" -->
        <div style=" padding-left:4%;">
            <!-- <v-row block large> -->
                <h1>채팅</h1>
            <!-- </v-row> -->
        </div>
        <!-- <v-divider></v-divider> -->
        <!-- v-for 사용하여 출력할 예정 우선 임시임 -->
        <v-btn block x-large>
            <v-row class="md-6" style="margin: bott 0m;">
                    <v-list-item-avatar style="margin-left:2%;">
                        <!-- 프로필 사진 적용 -->
                        <v-img src="../assets/images/ic_close.png"></v-img>
                    </v-list-item-avatar>
                    <v-col style="text-align:left;">
                        <div>
                            <!-- 닉네임 적용 -->
                            <h4>닉넴123</h4>
                        </div>
                        <div>
                            <!-- 최근 채팅 메시지 표시 -->
                            <h5> 채팅 내용~~~~~~~~~~~~~~</h5>
                        </div>
                    </v-col>
                    <v-col 
                        align-center
                        justify-center 
                        style="margin-right:4%;  text-align : right;">
                        <!-- 메시지 도착 시점의 시간,날짜 표시 -->
                            시간
                        </v-col>
            </v-row>
        </v-btn>


           <v-btn block x-large>
            <v-row class="md-6" style="margin: bott 0m;">
                    <v-list-item-avatar style="margin-left:2%;">
                        <v-img src="../assets/images/ic_close.png"></v-img>
                    </v-list-item-avatar>
                    <v-col style="text-align:left;">
                        <div>
                            <h4>닉넴123</h4>
                        </div>
                        <div>
                    <h5> 채팅 내용~~~~~~~~~~~~~~</h5>
                        </div>
                    </v-col>
                    <v-col 
                    align-center
                        justify-center 
                        style="margin-right:4%;  text-align : right;">시간
                        </v-col>
            </v-row>
        </v-btn>
         <v-btn block x-large>
            <v-row class="md-6" style="margin: bott 0m;">
                    <v-list-item-avatar style="margin-left:2%;">
                        <v-img src="../assets/images/ic_close.png"></v-img>
                    </v-list-item-avatar>
                    <v-col style="text-align:left;">
                        <div>
                            <h4>닉넴123</h4>
                        </div>
                        <div>
                    <h5> 채팅 내용~~~~~~~~~~~~~~</h5>
                        </div>
                    </v-col>
                    <v-col 
                    align-center
                        justify-center 
                        style="margin-right:4%;  text-align : right;">시간
                        </v-col>
            </v-row>
        </v-btn>
          <v-btn block x-large>
            <v-row class="md-6" style="margin: bott 0m;">
                    <v-list-item-avatar style="margin-left:2%;">
                        <v-img src="../assets/images/ic_close.png"></v-img>
                    </v-list-item-avatar>
                    <v-col style="text-align:left;">
                        <div>
                            <h4>닉넴123</h4>
                        </div>
                        <div>
                    <h5> 채팅 내용~~~~~~~~~~~~~~</h5>
                        </div>
                    </v-col>
                    <v-col 
                    align-center
                        justify-center 
                        style="margin-right:4%;  text-align : right;">시간
                        </v-col>
            </v-row>
        </v-btn>
         <v-btn block x-large>
            <v-row class="md-6" style="margin: bott 0m;">
                    <v-list-item-avatar style="margin-left:2%;">
                        <v-img src="../assets/images/ic_close.png"></v-img>
                    </v-list-item-avatar>
                    <v-col style="text-align:left;">
                        <div>
                            <h4>닉넴123</h4>
                        </div>
                        <div>
                    <h5> 채팅 내용~~~~~~~~~~~~~~</h5>
                        </div>
                    </v-col>
                    <v-col 
                    align-center
                        justify-center 
                        style="margin-right:4%;  text-align : right;">시간
                        </v-col>
            </v-row>
        </v-btn>
    </div>
</template>